body {
    margin: 0;
    padding: 0;
}

#osm_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /* For a dark base map */
    filter: invert(100%) saturate(50%);
    overflow: scroll;
}

#mb_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    overflow: scroll;
    background:transparent;
}

#object_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
    background:transparent;
}